<wm-page data-ng-controller="Testprefab23Controller" name="page1">
    <wm-view class="container" backgroundcolor="#fff" name="view1">
        <wm-composite widget="text" name="composite1">
            <wm-label class="col-md-2" name="label1"></wm-label>
            <wm-text name="text1"></wm-text>
        </wm-composite>
        <wm-composite widget="text" name="composite2">
            <wm-label class="col-md-2" name="label2"></wm-label>
            <wm-text name="text2"></wm-text>
        </wm-composite>
        <wm-button name="button1"></wm-button>
    </wm-view>
</wm-page>