<wm-page layouttype="three-column" columns="3" data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="top-nav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-row name="contentRow">
            <wm-left-panel contentwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
            <wm-column class="app-content-column" columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
                <wm-prefab name="prefab1" prefabname="testprefab23" height="242" width="608"></wm-prefab>
                <wm-prefab name="prefab2" prefabname="youtube"></wm-prefab>
                <wm-composite name="composite1" widget="text">
                    <wm-label name="label1" class="col-md-2"></wm-label>
                    <wm-text name="text1"></wm-text>
                </wm-composite>
                <wm-composite widget="currency" name="composite1">
                    <wm-label class="col-md-2" name="label1"></wm-label>
                    <wm-currency name="currency1"></wm-currency>
                </wm-composite>
            </wm-column>
            <wm-right-panel contentwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>